/BancoOnline/nbproject/private/
/UPOBank/dist/
/UPOBank/build/
/UPOBank/nbproject/private/
/SOAP_UPOBank/nbproject/private/
/SOAP_UPOBank/build/
/SOAP_UPOBank/dist/
/REST/nbproject/private/
/REST/build/
/REST/dist/
/Cliente_JS/nbproject/private/
/SOAP/nbproject/private/
/SOAP/build/
/SOAP/dist/
/Programa/nbproject/private/
/Programa/build/
/ClienteSOAP_JSP/nbproject/private/
/ClienteSOAP_JSP/build/
/ClienteSOAP_JSP/dist/
/clienteJS_SOAP/nbproject/private/